*{
	margin: 0;
	padding: 0;
}




html { 
       font-family: sans-serif;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  }




body { 
	margin: 0;
}






/* radial-gradient(circle, #009CDE, #003087; */

